.container{
    background-color: white;
    border-radius: 8px;
    padding: 0.5em;

    display: grid;
    grid-template-columns: 1fr 1fr .3fr;
    column-gap: 0.5em;
    max-width: 300px;
    margin: 0 auto;
    grid-template-areas: 
        "image name favorite"
        "image race favorite"
        "image row favorite"
        "image location ."
}

.image{
    grid-area: image;
    border-radius: 15px;
}

.pet-name{
    grid-area: name;
    font-size: 1.5rem;
}
.race{
    grid-area: race;
    font-size: 1.1rem;
}

.favorite{
    grid-area: favorite;
}

.row{
    grid-area:row;
    color: #cecece;
}

.location{
    margin-top: 1.3em;
    grid-area: location;
    color: #cecece;
}